<html>
  <head>
    <title>Twitter Clone</title>
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    {{{ nav }}}
    <p class="blue btn-large">
      Paragraph
    </p>
  </body>
</html>
